* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #ccccb3;
  font-family: "Verdana";
  font-size: 24px;
}

p {
  margin-bottom: 20px;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

#container {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#container {
  position: relative;
  width: 800px;
  height: 100vh;
  margin: 0 auto;
  padding: 40px;
  background-color: #333;
}

#container.alert {
  cursor: pointer;
  text-align: center;
}

#container.alert span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 8px;
  color: greenyellow;
}

#container.alert:hover span,
#container.alert:active span {
  background-color: black;
  color: white;
}

span {
  white-space: nowrap;
  color: yellow;
  cursor: pointer;
}

span:hover,
span:active {
  background-color: black;
  color: white;
}
